.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  width: 100%;

  /* 메뉴바 효과 위한 padding 설정 */
  /* margin-top: 50px; */
  padding-top: 50px;
}

.main article {
  width: 100%;
}
