.about_container {
  width: 100%;
  padding: 20px 0;
  background: linear-gradient(to bottom right, white, rgb(185, 184, 184));
  /* background: linear-gradient(
    to bottom right,
    white,
    rgb(185, 184, 184) 25%,
    rgb(185, 184, 184) 75%,
    white
  ); */
  /* background: linear-gradient(
    to bottom right,
    white,
    cyan 25%,
    #b3ffff 50%,
    cyan 75%,
    white
  ); */
  color: black;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
